
<div class="m-5 text-center card" >
  <h2>Orden de compra</h2>
  

  <table class="table table-hover">
    <thead>
      
    
      {{#if products}}

      <tr>
        <th hidden scope="col" >ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Minuatura</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>

      {{#each products.products.carts}}
      
      <tr>
        <th hidden scope="row">{{this._id}}</th>
        <td>{{this.products.title}}</td>
        <td>{{this.products.price}}</td>
        <td><img width="50px" height= "50px" src={{this.products.thumbnail}} /></td>
        <td>{{this.quantity}}</td>
      </tr>
      {{/each}}
      
      <table>
      <tr>
        <td>
          Total de compra:
        </td>
        <td>
          {{products.total}}
        </td>
      </tr>
        <td>
          <button class=" mt-3 btn btn-success" id="orderSend">Continuar</button>
        </td>
        <td>
          <button class="btn btn-warning" id="orderBack">Salir</button>
        </td>
      </table>

       {{else}}
          <p id="products_empty" style="color:red">Carrito vacio</p>
          <td>
          <button class="btn btn-warning" id="backToProduct">Salir</button>
        </td>
      {{/if}}


    </tbody>
  </table>
</div>